* {
	margin: 1%;
}

#config-tool-output {
	font-size: 150%;
}

#config-tool-container {
	width: 90%;
	text-align: center;
}

.segment {
	width: 100%;
	border-bottom: 1px #2E2E2E solid;
	margin-top: 1%;
	margin-bottom: 2%;
}

.segment.empty,
.segment.last {
	border-bottom: none;
}

.output-wrapper {
	text-align: left;
}

.template {
	display: none;
}

#dark-screen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
}

#pop-up {	
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	width: 70%;
	height: 50%;
	text-align: center;
}